@model Product


<div class="col-md-3 col-sm-6">
    <div class="product-grid">
        <div class="product-image">
            <a href="#" class="image">
                <img src="@Model.ImageUrl">
            </a>
            <ul class="product-links">
                <li><a href="#"><i class="bi bi-search"></i></a></li>
                <li><a href="#"><i class="bi bi-heart-fill"></i></a></li>
                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
            </ul>
            <a href="" class="add-to-cart">Add to Cart</a>
        </div>
        <div class="product-content">
            <h3 class="title"><a href="#">@Model.Name</a></h3>
            <div class="price">$@Model.Price</div>
        </div>
    </div>
</div>