@using SistemasWeb01.ViewModels;
@model PieListViewModel;

<div class="row row-cols-1 row-cols-md-3 g-4">

    <h1>@Model.CurrentCategory</h1>

    @foreach (var pie in Model.Pies)
    {
        <partial name="_PieCard" model="pie"></partial>

    }

</div>