#roulette .roulette-section:first-child .roulette-section-container {
    background: #df0978; 
}
#roulette .roulette-section:nth-child(2) .roulette-section-container {
	background: #8d078d; 
}
#roulette .roulette-section:nth-child(3) .roulette-section-container {
	background: #3a63ba; 
}
#roulette .roulette-section:nth-child(4) .roulette-section-container {
	background: #4fa1de;  
}
#roulette .roulette-section:nth-child(5) .roulette-section-container {
	background: #23bb23;  
}
#roulette .roulette-section:nth-child(6) .roulette-section-container {
	background: #46b545;  
}
#roulette .roulette-section:nth-child(7) .roulette-section-container {
	background: #88c740;  
}
#roulette .roulette-section:nth-child(8) .roulette-section-container {
	background: #f2f215;  
}
#roulette .roulette-section:nth-child(9) .roulette-section-container {
	background: #f1b041;  
}
#roulette .roulette-section:nth-child(10) .roulette-section-container {
	background: #e35825;  
}
#roulette .roulette-section:nth-child(11) .roulette-section-container {
	background: #e01423;  
}
#roulette .roulette-section:nth-child(12) .roulette-section-container {
	background: #ffae00;  
}


#roulette .roulette-section:nth-child(13) .roulette-section-container {
	background: #8d078d;
}

#roulette .roulette-section:nth-child(14) .roulette-section-container {
	background: #3a63ba;
}

#roulette .roulette-section:nth-child(15) .roulette-section-container {
	background: #4fa1de;
}

#roulette .roulette-section:nth-child(16) .roulette-section-container {
	background: #23bb23;
}

#roulette .roulette-section:nth-child(17) .roulette-section-container {
	background: #46b545;
}

#roulette .roulette-section:nth-child(18) .roulette-section-container {
	background: #88c740;
}

#roulette .roulette-section:nth-child(19) .roulette-section-container {
	background: #f2f215;
}

#roulette .roulette-section:nth-child(20) .roulette-section-container {
	background: #f1b041;
}

#roulette .roulette-section:nth-child(21) .roulette-section-container {
	background: #e35825;
}

#roulette .roulette-section:nth-child(22) .roulette-section-container {
	background: #e01423;
}

#roulette .roulette-section:nth-child(23) .roulette-section-container {
	background: #ffae00;
}



#roulette .roulette-section:nth-child(24) .roulette-section-container {
	background: #8d078d;
}

#roulette .roulette-section:nth-child(25) .roulette-section-container {
	background: #3a63ba;
}

#roulette .roulette-section:nth-child(26) .roulette-section-container {
	background: #4fa1de;
}

#roulette .roulette-section:nth-child(27) .roulette-section-container {
	background: #23bb23;
}

#roulette .roulette-section:nth-child(28) .roulette-section-container {
	background: #46b545;
}

#roulette .roulette-section:nth-child(29) .roulette-section-container {
	background: #88c740;
}

#roulette .roulette-section:nth-child(30) .roulette-section-container {
	background: #f2f215;
}

#roulette .roulette-section:nth-child(31) .roulette-section-container {
	background: #f1b041;
}

#roulette .roulette-section:nth-child(32) .roulette-section-container {
	background: #e35825;
}

#roulette .roulette-section:nth-child(33) .roulette-section-container {
	background: #e01423;
}

#roulette .roulette-section:nth-child(34) .roulette-section-container {
	background: #ffae00;
}