
@model DetailsProductViewModel

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="slider-hero">
					<div class="featured-carousel owl-carousel">
						@foreach (Picture picture in Model.Product.Pictures!)
						{
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-center justify-content-center" style="border-radius:10px;">
										<div class="text text-center">
											<img src="~/images/@picture.PictureName" style="width:100%;">
										</div>
									</div>
								</div>
							</div>
						}
					</div>
					<div class="my-5 text-center">
						<ul class="thumbnail">
							@foreach (Picture pic in Model.Product.Pictures)
							{
								<li class="img"><a href="#"><img src="~/images/@pic.PictureName" alt="Image" class="img-fluid"></a></li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>