@model CartItemViewModel

<section class="container py-5">
 
    
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-2 mt-5">@Model.Product.Name</h4>
            <h5>@Model.Product.Price Bs.</h5>
            <form asp-action="AddToCart" method="post" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Product" />
                <input type="hidden" asp-for="ProductId" />
 

                <div class="form-group">
                    <label asp-for="ProductSizeId" class="control-label"> Selecciona una Talla</label>
                    <select asp-for="ProductSizeId" asp-items="Model.ProductSizes" class="form-control">
                        <option value=""> --Selecciona una talla--</option>
                    </select>
                    <span asp-validation-for="ProductSizeId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Amount" class="control-label">Ingresa una cantidad</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <input type="submit" value="Agregar al carrito" class="btn btn-outline-primary" />
                <a class="btn btn-outline-success" asp-action="Index"> Regresar</a>
            </form>
        </div>
        <div class="col-md-6">
            <img src="~/images/@Model.Product.ImageFullPath" style="max-width:300px;" />
        </div>
    </div>
</section>