@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<section class="carousel slide" id="hero-carousel" data-bs-ride="carousel">
    <partial name="_Carousel"></partial>
</section>

<section class="section-products mt-3 mb-4">
    <div class="text-center mb-5">
        @*<img src="Images/bethanys-pie-shop-logomark.png" class="logo-mark mx-auto" />*@
       <div class="logo">
            <i class="bi bi-cup-hot"></i>
       </div>
        <h1>Pies of the week</h1>
        <h5>Enjoy a weekly selection of our favorite pies</h5>

        <div class="row pies-of-the-week">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var pie in Model.PiesOfTheWeek)
                {
                    <partial name="_PieCard" model="pie" />
                }
            </div>

        </div>
    </div>

</section>

