
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <h4>Usuario Admin de prueba : </h4>
    <h5>yelma@gmail.com   -  Contraseña: 123456</h5>
</div>
*@

<article>

    <!--
      - #HERO
    -->

    <section class="hero" id="home" style="background-image: url('./assets/images/hero-banner.jpg')">
        <div class="container">

            <div class="hero-content">

                <p class="hero-subtitle">Moda y Estilo</p>

                <h2 class="h1 hero-title">Ropa única para personas únicas</h2>

                <button class="boton boton-primary">Ir de Shopping</button>

            </div>

        </div>
    </section>





    <!--
      - #SERVICE
    -->

    <section class="service">
        <div class="container">

            <ul class="service-list">

                <li class="service-item">
                    <div class="service-item-icon">
                        <img src="~/assets/images/service-icon-1.svg" alt="Service icon">
                    </div>

                    <div class="service-content">
                        <p class="service-item-title">Envios Gratis</p>

                        <p class="service-item-text">En todos los pedidos arriba de 690 Bs.</p>
                    </div>
                </li>

                <li class="service-item">
                    <div class="service-item-icon">
                        <img src="~/assets/images/service-icon-2.svg" alt="Service icon">
                    </div>

                    <div class="service-content">
                        <p class="service-item-title">Devoluciones</p>

                        <p class="service-item-text">Hasta 30 días</p>
                    </div>
                </li>

                <li class="service-item">
                    <div class="service-item-icon">
                        <img src="~/assets/images/service-icon-3.svg" alt="Service icon">
                    </div>

                    <div class="service-content">
                        <p class="service-item-title">Métodos de pago</p>

                        <p class="service-item-text">Garantía 100% seguro</p>
                    </div>
                </li>

                <li class="service-item">
                    <div class="service-item-icon">
                        <img src="~/assets/images/service-icon-4.svg" alt="Service icon">
                    </div>

                    <div class="service-content">
                        <p class="service-item-title">Te asesoramos en todas tus compras</p>

                        <p class="service-item-text">Atención 24/7</p>
                    </div>
                </li>

            </ul>

        </div>
    </section>

    <!--
      - #CATEGORY
    -->
   @* <div class="container text-center">
        <h2 class="category-title mb-5">Categorías</h2>
        <div class="category-list">
                @foreach( Category cat in Model.Categories)
                {
                    
                   <div class="category-item">
                       <div class="service-item-icon">
                           <img src="~/images/@cat.ThumbnailImage" alt="icono de categoría" ="category-image" />
                       </div>
                       <div class="category-content">
                           <p class="category-item-title">@cat.Name</p>
                       </div>
                   </div>
                }
         </div>
    </div>*@
    

    
    

    <!--
      - #PRODUCT
    -->

    <section class="section product">
        <div class="container">

            

            <section class="section-products mt-3 mb-4">
                <div class="text-center mb-5">
                    <img src="~/images/shop-min.png" class="logo-mark mx-auto mb-5" style="max-width: 200px" />
                       @*<div class="logo">
                            <i class="bi bi-cup-hot"></i>
                       </div>*@
                        @*<h1>Ropa de Mujer</h1>
                        <h5>Para todos los estilos</h5>*@

                    <div class="row pies-of-the-week">

                        <h2 class="h2 section-title">Categorías de productos</h2>

                            <ul class="filter-list">

                                <li>
                                    <button class="filter-btn  active">Arrazando</button>
                                </li>

                                <li>
                                    <button class="filter-btn">Nueva colección</button>
                                </li>

                                <li>
                                    <button class="filter-btn">Ropa</button>
                                </li>

                                <li>
                                    <button class="filter-btn">Zapatos</button>
                                </li>

                            </ul>

                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            @foreach (var product in Model.ProductsBestSellers)
                            {
                                <partial name="_ProductCard" model="product" />
                            }
                        </div>

                    </div>
                </div>

            </section>
            <button class="btn btn-outline">View All Products</button>

        </div>
    </section>





    <!--
      - #BLOG
    -->

 <section class="section blog">
        <div class="container-fluid">

            <h2 class="h2 section-title">Tips para escoger la ropa ideal para cada ocasión</h2>

            <ul class="blog-list row">

                <li class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="blog-card">

                        <figure class="card-banner">
                            <a href="#">
                                <img src="./assets/images/blog-1.jpg" alt="Worthy Cyber Monday Fashion From Casmart" loading="lazy"
                                     width="1020" height="700" class="w-100">
                            </a>
                        </figure>

                        <div class="card-content">

                            <ul class="card-meta-list">

                                <li class="card-meta-item">
                                    <ion-icon name="folder-open-outline"></ion-icon>

                                    <a href="#" class="card-meta-link">Fashion</a>
                                </li>

                                <li class="card-meta-item">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <a href="#" class="card-meta-link">
                                        <time datetime="2021-03-31">31 Mar 2021</time>
                                    </a>
                                </li>

                            </ul>

                            <h3 class="h3 card-title">
                                <a href="#">Worthy Cyber Monday Fashion From Casmart</a>
                            </h3>

                        </div>

                    </div>
                </li>

                <li class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="blog-card">

                        <figure class="card-banner">
                            <a href="#">
                                <img src="./assets/images/blog-2.jpg" alt="Holiday Home Decoration I’ve Recently Ordered"
                                     loading="lazy" width="1020" height="700" class="w-100">
                            </a>
                        </figure>

                        <div class="card-content">

                            <ul class="card-meta-list">

                                <li class="card-meta-item">
                                    <ion-icon name="folder-open-outline"></ion-icon>

                                    <a href="#" class="card-meta-link">Fashion</a>
                                </li>

                                <li class="card-meta-item">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <a href="#" class="card-meta-link">
                                        <time datetime="2021-03-31">31 Mar 2021</time>
                                    </a>
                                </li>

                            </ul>

                            <h3 class="h3 card-title">
                                <a href="#">Holiday Home Decoration I’ve Recently Ordered</a>
                            </h3>

                        </div>

                    </div>
                </li>

                <li class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="blog-card">

                        <figure class="card-banner">
                            <a href="#">
                                <img src="./assets/images/blog-3.jpg" alt="Unique Ideas for Fashion You Haven’t heard yet"
                                     loading="lazy" width="1020" height="700" class="w-100">
                            </a>
                        </figure>

                        <div class="card-content">

                            <ul class="card-meta-list">

                                <li class="card-meta-item">
                                    <ion-icon name="folder-open-outline"></ion-icon>

                                    <a href="#" class="card-meta-link">Fashion</a>
                                </li>

                                <li class="card-meta-item">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <a href="#" class="card-meta-link">
                                        <time datetime="2021-03-31">31 Mar 2021</time>
                                    </a>
                                </li>

                            </ul>

                            <h3 class="h3 card-title">
                                <a href="#">Unique Ideas for Fashion You Haven’t heard yet</a>
                            </h3>

                        </div>

                    </div>
                </li>

            </ul>

        </div>
    </section>





   <!-- 
        - #NEWSLETTER
      -->

      <section class="section newsletter">
        <div class="container">

          <div class="newsletter-card" style="background-image: url('./assets/images/newsletter-bg.png')">

            <h2 class="card-title">Subscríbete Aquí</h2>

            <p class="card-text">
              Ingrese su correo a continuación para ser el primero en conocer las nuevas colecciones y lanzamientos de productos.
            </p>

            <form action="" class="card-form d-flex">

              <div class="input-wrapper">
                <ion-icon name="mail-outline"></ion-icon>

                <input type="email" name="emal" placeholder="Ingresa tu email" required class="input-field">
              </div>

              <button type="submit" class="boton boton-primary w-100">
                <span>Subscribir</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </button>

            </form>

          </div>

        </div>
      </section>

</article>