@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    Created by Brayan and his bank account and in the  web,
    Salteñas are the best
    <br />
    <h4>Usuario Admin de prueba : </h4>
    <h5>daniel@yopmail.com   -  Contraseña: 123456</h5>
</div>
