@model IEnumerable<SistemasWeb01.Models.User>

<section class="container py-5">
    
    <h2 class="text-center" style="margin-bottom: 100px;">El Juego de la Ruleta!</h2>
    <section class="roulette-container  d-flex justify-content-center align-items-center">

        <div id="selector" style="color: #171717"></div>

        <div id="roulette" class="d-flex justify-content-center align-items-center">

            
            @foreach(User u in Model)
            {
                <div class="roulette-section">
                    <div class="roulette-section-container">
                        <p class="text-white">@u.FullName</p>
                    </div>
                </div>
            }
            

        </div>
        <br />

        

    </section>
    <div class="botton-container mt-5">
        <button type="button" id="spin">¡Girar!</button>
        <button type="button" id="reset" ">Resetear</button>
    </div>

</section>