html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



.titulo-carrusel {
    position: absolute;
}
.carousel {
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.c-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.img-item {
    height: 50vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.img-about {
    background-color: #0b0d0e;
    width: 100%;
    object-fit: cover;
    height: 300px;
    /*filter: brightness(0.6);*/
}

/* home*/
.banner {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    background-color: aquamarine;
    height: 300px;
}

.row {
    height: auto;
}

.principal {
    height: 300px;
}

.carousel-caption p {
    margin-top: 120px;
}
/*.carousel-inner{
    margin-top: 75px;
}*/