@model BrandViewModel
@{
    ViewData["Title"] = "EditarCategoria";
}

<section class="container seccion">
    <h1>Editar Marca</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ThumbnailImage" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Nombre de marca</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mt-5">
                    <input asp-for="@Model.formFile" accept="image/*" multiple>
                    <span asp-validation-for="@Model.formFile" class="text-danger"></span>
                </div>

                <div class="form-group mt-5">
                    <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                    <a class="btn btn-outline-success" asp-action="Index"> Regresar</a>
                </div>
            </form>

        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}